<h2>My Boards</h2>

<div class="boards">
    <% boards.each( function(board){ %>
      <div class="board_item">
        <a href="#boards/<%= board.id %>">
          <%= board.get('title') %>
        </a>
      </div>
    <% }) %>
</div>