<h2>New Board</h2>

<form action="/api/boards" method="post">
	<label>Title</label><br>
		<input name="board[title]" type="text"><br>
  
  	<input type="submit" value="Submit" class="btn btn-primary"><br>
</form>
